<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomai.shopping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xiaomai.shopping.module.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiaomai.shopping.module.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.RegisterStep1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.RegisterStep2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.RegisterStep3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.ShouYeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.ShangPinXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.FaBuZhongXinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.FaBuShangPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiaomai.shopping.module.WoDeShouCangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.WoDeDingDanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.WoDeQiuGouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.FaBuQiuGouActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiaomai.shopping.module.WoDeJiFenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="multi_image_selector.MultiImageSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.GeRenZiLiaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.FanKuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.UpdatePassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.ForgetPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.PayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.FenLeiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.ShangJiaDingDanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.UpdateGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.UpdateWantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.QiuGouXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.xiaomai.shopping.module.MessageXiangQingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaomai.shopping.module.MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xiaomai.shopping.module.WebActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.xiaomai.shopping.biz.MessageBiz"
            android:authorities="com.xiaomai.message"
            android:exported="true" />

        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="c2fa35d0e35297e985ef22900f661d1c" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5723188e67e58e2398001604" >
        </meta-data>

        <!-- 微信平台 -->
        <activity
            android:name="com.xiaomai.shopping.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪微博 -->
        <activity
            android:name="com.xiaomai.shopping.module.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name="com.xiaomai.shopping.receiver.MyPushMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>